
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Sixtyfour+Convergence&display=swap');
* {

  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.register {
  border: 2px solid black;
  border-radius: 10px;
  padding: 15px;
background-color: pink;
box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  
}

.register input {
  height: 50px;
  width: 100% !important;
  padding: 2px;
  font-size: medium;
  border-radius: 10px !important;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: white !important;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.register .btn{
    background-color: rgb(35, 35, 68);
    color: white;
    font-weight: bold;
    padding: 10px;
    font-size: medium;
    font-family: "Sixtyfour Convergence", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "BLED" 0,
      "SCAN" 0,
      "XELA" 0,
      "YELA" 0;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.title{
    font-family: "Sixtyfour Convergence", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0,
    "XELA" 0,
    "YELA" 0;
}